<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gmh.wzz.core.dao.WzzSPWifiEntityMapper">
	<resultMap id="BaseResultMap" type="com.gmh.wzz.api.entity.WzzSPWifiEntity">
		<result column="SHOP_ID" property="shopId" jdbcType="VARCHAR" />
		<result column="SSID" property="ssid" jdbcType="VARCHAR" />
		<result column="WIFI" property="wifi" jdbcType="VARCHAR" />
		<result column="WIFI_PASSWORD" property="wifiPassword"
			jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insert" parameterType="com.gmh.wzz.api.entity.WzzSPWifiEntity">
		insert into WZZ_SHOP_WIFI
		(SHOP_ID, SSID, WIFI, WIFI_PASSWORD
		)
		values
		(#{shopId,jdbcType=VARCHAR},
		#{ssid,jdbcType=VARCHAR},
		#{wifi,jdbcType=VARCHAR},
		#{wifiPassword,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.gmh.wzz.api.entity.WzzSPWifiEntity">
		insert into WZZ_SHOP_WIFI
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shopId != null">
				SHOP_ID,
			</if>
			<if test="ssid != null">
				SSID,
			</if>
			<if test="wifi != null">
				WIFI,
			</if>
			<if test="wifiPassword != null">
				WIFI_PASSWORD,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shopId != null">
				#{shopId,jdbcType=VARCHAR},
			</if>
			<if test="ssid != null">
				#{ssid,jdbcType=VARCHAR},
			</if>
			<if test="wifi != null">
				#{wifi,jdbcType=VARCHAR},
			</if>
			<if test="wifiPassword != null">
				#{wifiPassword,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<delete id="delete" parameterType="com.gmh.wzz.api.entity.WzzSPWifiEntity">
		delete from WZZ_SHOP_WIFI
		<where>
			<if test="ssid != null">
				AND SSID = #{ssid,jdbcType=VARCHAR}
			</if>
			<if test="wifi != null">
				AND WIFI = #{wifi,jdbcType=VARCHAR}
			</if>
			<if test="shopId != null">
				AND SHOP_ID = #{shopId,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>

	<select id="selectByCondition" resultMap="BaseResultMap"
		parameterType="com.gmh.wzz.api.entity.WzzSPWifiEntity">
		select
		*
		from WZZ_SHOP_WIFI
		<where>
			<if test="condition != null">
				<if test="condition.shopId != null">
					AND SHOP_ID = #{condition.shopId,jdbcType=VARCHAR}
				</if>
				<if test="condition.ssid != null">
					AND SSID = #{condition.ssid,jdbcType=VARCHAR}
				</if>
				<if test="condition.wifi != null">
					AND WIFI = #{condition.wifi,jdbcType=VARCHAR}
				</if>
			</if>
		</where>
	</select>
</mapper>