body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:635px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:720px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1033 {
  position:absolute;
  left:260px;
  top:100px;
  width:375px;
  height:720px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:352px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:18px;
}
#u1035 {
  position:absolute;
  left:260px;
  top:100px;
  width:375px;
  height:60px;
  font-size:18px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:36px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1037 {
  position:absolute;
  left:274px;
  top:114px;
  width:20px;
  height:36px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1038 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  white-space:nowrap;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#009DD9;
}
#u1039 {
  position:absolute;
  left:298px;
  top:122px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#009DD9;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#009DD9;
}
#u1041 {
  position:absolute;
  left:587px;
  top:121px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#009DD9;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u1043 {
  position:absolute;
  left:273px;
  top:170px;
  width:350px;
  height:80px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u1045 {
  position:absolute;
  left:273px;
  top:430px;
  width:350px;
  height:90px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:37px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u1048 {
  position:absolute;
  left:273px;
  top:270px;
  width:350px;
  height:130px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:57px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:74px;
}
#u1050 {
  position:absolute;
  left:289px;
  top:316px;
  width:230px;
  height:74px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1052 {
  position:absolute;
  left:289px;
  top:278px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:74px;
}
#u1054 {
  position:absolute;
  left:289px;
  top:366px;
  width:230px;
  height:74px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u1056p000 {
  position:absolute;
  left:271px;
  top:349px;
  width:355px;
  height:3px;
}
#u1056p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:3px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057 {
  position:absolute;
  left:275px;
  top:342px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058p000 {
  position:absolute;
  left:271px;
  top:304px;
  width:355px;
  height:3px;
}
#u1058p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:3px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1059 {
  position:absolute;
  left:275px;
  top:297px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
  color:#A1A1A1;
}
#u1060 {
  position:absolute;
  left:290px;
  top:440px;
  width:173px;
  height:45px;
  color:#A1A1A1;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u1062 {
  position:absolute;
  left:290px;
  top:485px;
  width:173px;
  height:45px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1064 {
  position:absolute;
  left:289px;
  top:180px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1066p000 {
  position:absolute;
  left:271px;
  top:469px;
  width:355px;
  height:3px;
}
#u1066p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:3px;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067 {
  position:absolute;
  left:275px;
  top:462px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1068 {
  position:absolute;
  left:289px;
  top:209px;
  width:99px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
