body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:635px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:720px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u181 {
  position:absolute;
  left:260px;
  top:100px;
  width:375px;
  height:720px;
}
#u182 {
  position:absolute;
  left:2px;
  top:352px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u183 {
  position:absolute;
  left:270px;
  top:170px;
  width:350px;
  height:190px;
}
#u184 {
  position:absolute;
  left:2px;
  top:87px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:18px;
}
#u185 {
  position:absolute;
  left:260px;
  top:100px;
  width:375px;
  height:60px;
  font-size:18px;
}
#u186 {
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u187 {
  position:absolute;
  left:270px;
  top:640px;
  width:350px;
  height:120px;
}
#u188 {
  position:absolute;
  left:2px;
  top:52px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:36px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u189 {
  position:absolute;
  left:274px;
  top:114px;
  width:20px;
  height:36px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u190 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  white-space:nowrap;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u191 {
  position:absolute;
  left:270px;
  top:380px;
  width:350px;
  height:240px;
}
#u192 {
  position:absolute;
  left:2px;
  top:112px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u193 {
  position:absolute;
  left:286px;
  top:190px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:19px;
  font-size:16px;
}
#u195 {
  position:absolute;
  left:286px;
  top:237px;
  width:184px;
  height:19px;
  font-size:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:74px;
}
#u197 {
  position:absolute;
  left:286px;
  top:426px;
  width:230px;
  height:74px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u199 {
  position:absolute;
  left:287px;
  top:650px;
  width:173px;
  height:45px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u201p000 {
  position:absolute;
  left:269px;
  top:509px;
  width:353px;
  height:3px;
}
#u201p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:3px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u202 {
  position:absolute;
  left:272px;
  top:502px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203p000 {
  position:absolute;
  left:269px;
  top:414px;
  width:353px;
  height:3px;
}
#u203p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:3px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u204 {
  position:absolute;
  left:272px;
  top:407px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u205 {
  position:absolute;
  left:580px;
  top:714px;
  width:30px;
  height:27px;
}
#u206 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u207 {
  position:absolute;
  left:286px;
  top:388px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u209p000 {
  position:absolute;
  left:269px;
  top:269px;
  width:353px;
  height:3px;
}
#u209p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:3px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210 {
  position:absolute;
  left:272px;
  top:262px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
  font-family:'苹方 Bold', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF3300;
}
#u211 {
  position:absolute;
  left:530px;
  top:198px;
  width:74px;
  height:28px;
  font-family:'苹方 Bold', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF3300;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u213 {
  position:absolute;
  left:286px;
  top:282px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:46px;
  font-size:16px;
  color:#999999;
}
#u215 {
  position:absolute;
  left:286px;
  top:314px;
  width:216px;
  height:46px;
  font-size:16px;
  color:#999999;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:74px;
}
#u217 {
  position:absolute;
  left:286px;
  top:521px;
  width:230px;
  height:74px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u219p000 {
  position:absolute;
  left:183px;
  top:245px;
  width:95px;
  height:3px;
}
#u219p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:3px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u220 {
  position:absolute;
  left:186px;
  top:238px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u221 {
  position:absolute;
  left:110px;
  top:239px;
  width:57px;
  height:16px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u223p000 {
  position:absolute;
  left:613px;
  top:211px;
  width:79px;
  height:3px;
}
#u223p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:3px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u224 {
  position:absolute;
  left:616px;
  top:204px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u225 {
  position:absolute;
  left:700px;
  top:205px;
  width:57px;
  height:16px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u227 {
  position:absolute;
  left:593px;
  top:310px;
  width:15px;
  height:25px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u228 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  white-space:nowrap;
}
#u229p000 {
  position:absolute;
  left:269px;
  top:694px;
  width:353px;
  height:3px;
}
#u229p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:3px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230 {
  position:absolute;
  left:272px;
  top:687px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
}
#u231 {
  position:absolute;
  left:287px;
  top:705px;
  width:173px;
  height:45px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
